In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [4]:
raw_data = pd.read_csv("loan.csv")

In [5]:
raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
raw_data.shape

(20000, 142)

In [7]:
raw_data.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv            int64
                          ...
settlement_status        float64
settlement_date          float64
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 142, dtype: object

In [8]:
raw_data['loan_amnt'].describe()

count    20000.000000
mean     16111.383750
std      10369.193761
min       1000.000000
25%       8000.000000
50%      14000.000000
75%      22000.000000
max      40000.000000
Name: loan_amnt, dtype: float64

In [ ]:
raw_data = raw_data.drop(['zip_code', 'policy_code', 'application_type', 'last_credit_pull_d',
'verification_status', 'pymnt_plan', 'funded_amnt_inv', 'sub_grade', 'out_prncp',
'out_prncp_inv', 'total_pymnt_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
'last_pymnt_amnt', 'initial_list_status'], axis=1)

In [12]:
raw_data.shape

(20000, 122)

In [19]:
col_num=0
total_objects=raw_data.shape[0]
print("COLUMNS\t\t\t\tNULL VALUES%")
for x in raw_data:
    null_count=raw_data[x].isnull().sum()
    null_percentage=null_count*100/(total_objects)
    if null_count > 0 and null_percentage > 20:
        col_num = col_num + 1
        raw_data.drop(x, axis=1, inplace=True)
        print(str(x)+"\t\t\t\t\t "+str(null_percentage))
print ("A total of "+str(col_num)+" deleted !")

COLUMNS				NULL VALUES%
member_id					 100.0
url					 100.0
desc					 100.0
mths_since_last_delinq					 56.375
mths_since_last_record					 88.41
mths_since_last_major_derog					 77.47
annual_inc_joint					 87.845
dti_joint					 87.845
verification_status_joint					 89.17
mths_since_recent_bc_dlq					 80.36
mths_since_recent_revol_delinq					 71.3
revol_bal_joint					 87.845
sec_app_earliest_cr_line					 87.845
sec_app_inq_last_6mths					 87.845
sec_app_mort_acc					 87.845
sec_app_open_acc					 87.845
sec_app_revol_util					 88.0
sec_app_open_act_il					 87.845
sec_app_num_rev_accts					 87.845
sec_app_chargeoff_within_12_mths					 87.845
sec_app_collections_12_mths_ex_med					 87.845
sec_app_mths_since_last_major_derog					 96.295
hardship_type					 100.0
hardship_reason					 100.0
hardship_status					 100.0
deferral_term					 100.0
hardship_amount					 100.0
hardship_start_date					 100.0
hardship_end_date					 100.0
payment_plan_start_date					 100.0
hardship_length					 100.0
hardship_dpd					 100.0
hardship_loan_status					 100.0
orig_projected_additional_accrued_interest					 100.0
hardship_payoff_balance_amount					 100.0
hardship_last_payment_amount					 100.0
debt_settlement_flag_date					 100.0
settlement_status					 100.0
settlement_date					 100.0
settlement_amount					 100.0
settlement_percentage					 100.0
settlement_term					 100.0
A total of 42 deleted !

In [20]:
raw_data.shape

(20000, 79)

In [22]:
raw_data.fillna({'emp_title': 'Unknown'}, inplace = True)

In [24]:
raw_data.fillna({'dti':0}, inplace = True)

In [26]:
raw_data['revol_util'] = raw_data['revol_util'].fillna(raw_data['revol_util'].mean())

In [29]:
raw_data.head(20)

,loan_amnt,funded_amnt,term,int_rate,installment,grade,emp_title,emp_length,home_ownership,annual_inc,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,36 months,13.56,84.92,C,Chef,10+ years,RENT,55000.0,...,0.0,1,0,60124,16901,36500,18124,N,Cash,N
1,30000,30000,60 months,18.94,777.23,D,Postmaster,10+ years,MORTGAGE,90000.0,...,0.0,1,0,372872,99468,15000,94072,N,Cash,N
2,5000,5000,36 months,17.97,180.69,D,Administrative,6 years,MORTGAGE,59280.0,...,0.0,0,0,136927,11749,13800,10000,N,Cash,N
3,4000,4000,36 months,18.94,146.51,D,IT Supervisor,10+ years,MORTGAGE,92000.0,...,100.0,0,0,385183,36151,5000,44984,N,Cash,N
4,30000,30000,60 months,16.14,731.78,C,Mechanic,10+ years,MORTGAGE,57250.0,...,0.0,0,0,157548,29674,9300,32332,N,Cash,N
5,5550,5550,36 months,15.02,192.45,C,Director COE,10+ years,MORTGAGE,152500.0,...,60.0,0,0,831687,185378,65900,203159,N,Cash,N
6,2000,2000,36 months,17.97,72.28,D,Account Manager,4 years,RENT,51000.0,...,NaN,0,0,854,854,0,0,N,Cash,N
7,6000,6000,36 months,13.56,203.79,C,Assistant Director,10+ years,RENT,65000.0,...,85.7,0,0,117242,91535,33100,61742,N,DirectPay,N
8,5000,5000,36 months,17.97,180.69,D,Legal Assistant III,10+ years,MORTGAGE,53580.0,...,60.0,0,0,57426,41882,21500,34626,N,Cash,N
9,6000,6000,36 months,14.47,206.44,C,Unknown,< 1 year,OWN,300000.0,...,26.3,0,0,477390,105911,98300,89600,N,Cash,N
10,5500,5500,36 months,22.35,211.05,D,Unknown,< 1 year,MORTGAGE,50000.0,...,100.0,0,0,243452,18185,4800,15649,N,Cash,N
11,28000,28000,60 months,11.31,613.13,B,Consultant,2 years,MORTGAGE,70000.0,...,37.5,0,0,259435,65636,100400,17535,N,DirectPay,N
12,11200,11200,36 months,8.19,351.95,A,Job Coach Supervisor,10+ years,MORTGAGE,65000.0,...,20.0,0,0,345654,78795,34900,114578,N,Cash,N
13,6500,6500,36 months,17.97,234.90,D,Quality Field Engineer,4 years,MORTGAGE,154000.0,...,20.0,0,0,169160,116747,12300,129860,N,Cash,N
14,22000,22000,60 months,12.98,500.35,B,Teller,10+ years,MORTGAGE,65000.0,...,0.0,0,0,71932,22337,27200,38535,N,Cash,N
15,3500,3500,36 months,16.14,123.30,C,respritory therapist,10+ years,MORTGAGE,80000.0,...,50.0,0,0,42328,16085,8000,27028,N,Cash,N
16,7000,7000,36 months,12.98,235.80,B,Worship Director,4 years,MORTGAGE,102500.0,...,0.0,0,0,214624,76709,7200,96826,N,Cash,N
17,25000,25000,60 months,16.91,620.11,C,Processor,10+ years,MORTGAGE,23878.0,...,100.0,0,0,92334,3044,1000,0,N,Cash,N
18,16000,16000,60 months,20.89,431.87,D,Neonatal Nurse Practitioner,4 years,MORTGAGE,120000.0,...,100.0,0,0,444217,266754,13500,239338,N,Cash,N
19,13000,13000,60 months,14.47,305.67,C,Stationary Engineer,10+ years,MORTGAGE,75000.0,...,33.3,0,0,176598,50920,26700,50898,N,Cash,N

In [30]:
raw_data.fillna({'next_payment_d':'completed'}, inplace = True)

In [31]:
cols_fill_zero = [
    'mths_since_rcnt_il',
    'mo_sin_old_il_acct',
    'bc_open_to_buy',
    'num_tl_120dpd_2m',
    'bc_util',
    'percent_bc_gt_75'
]
raw_data[cols_fill_zero] = raw_data[cols_fill_zero].fillna(0)

cols_fill_mean = ['all_util', 'avg_cur_bal']
for col in cols_fill_mean:
    raw_data[col] = raw_data[col].fillna(raw_data[col].mean())

In [32]:
raw_data[cols_fill_zero + cols_fill_mean + ['next_pymnt_d']].isna().sum()

mths_since_rcnt_il      0
mo_sin_old_il_acct      0
bc_open_to_buy          0
num_tl_120dpd_2m        0
bc_util                 0
percent_bc_gt_75        0
all_util                0
avg_cur_bal             0
next_pymnt_d          388
dtype: int64